<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Rinket" %></title>
  <script type="text/javascript" src="/static/assets/application.js"></script>
</head>
<body>
  <%= content_for(:template) %>
</body>
</html>
