<div class="thread-info">
  <div class="subject">Lorem Ipsum is not nice to read</div>
  <div class="people-info">John, Jane and 6 people in conversation. 3 others are watching</div>
</div>

<div class="mails">
  <div class="mail">
    <div class="meta">
      <div class="sender">John Appleseed</div>
      <div class="timestamp">1:46am</div>
    </div>
    <div class="body">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="controls">
      <a href="#">Reply</a>
      <a href="#">Reply to all</a>
    </div>
  </div>


  <div class="mail">
    <div class="meta">
      <div class="sender">John Appleseed</div>
      <div class="timestamp">1:46am</div>
    </div>
    <div class="body">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="controls">
      <a href="#">Reply</a>
      <a href="#">Reply to all</a>
    </div>
  </div>


  <div class="mail">
    <div class="meta">
      <div class="sender">John Appleseed</div>
      <div class="timestamp">1:46am</div>
    </div>
    <div class="body">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="controls">
      <a href="#">Reply</a>
      <a href="#">Reply to all</a>
    </div>
  </div>


  <div class="mail">
    <div class="meta">
      <div class="sender">John Appleseed</div>
      <div class="timestamp">1:46am</div>
    </div>
    <div class="body">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
    <div class="controls">
      <a href="#">Reply</a>
      <a href="#">Reply to all</a>
    </div>
  </div>

</div>
