<div class="threads-wrapper">
  <div class="threads">

    <div class="thread" ng-repeat="thread in threads" ng-click="openThread(thread.id)">
      <div class="sender">
        {{thread.mail_preview["sender"]["name"] || thread.mail_preview["sender"]["email"]}}
        <span ng-hide="thread.mail_count == 1">({{thread.mail_count}})</span>
      </div>
      <div class="timestamp">{{thread.updated_at_dt | relativeTime}}</div>

      <div class="preview">
        <div class="subject">{{thread.subject}}</div>
        <div class="summary">{{thread.mail_preview.preview}}</div>
      </div>
    </div>

  </div>
</div>
