.compose-button {
  background: #6692D4;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: #FFF;
  cursor: pointer;
}

.extra-recipients-button {
  cursor: pointer;
  color: #666;
  float: left;
  clear: right;
  margin-top: 1em;
}

.compose {
  position: fixed;
  background: #FEFEFE;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  z-index: 1000;

  .field {
    float: left;
    width: 100%;
    label { color: #06c; }
    border-bottom: 0.1em solid #CCC;
  }
}


.mail-meta {
  width: 25%;
  float: left;
  top: 0em;
  bottom: 0em;
  left: 0em;
  padding: 0.5em;
  position: absolute;
  background: #f9f9f9;

  .controls {
    margin-bottom: 1.2em;
    a {
      color: #666;
      padding: 0.1em 0.25em 0.1em 0.25em;
      border: 0.1em solid #666;
      border-radius: 0.2em;
      cursor: pointer;
    }
  }
}

.editor-wrapper {
  width: 75%;
  float: left;
  position: absolute;
  top: 0em;
  bottom: 0em;
  right: 0em;
  padding: 1em 1.5em 1.5em 1.5em;
  background: #FFF;

  .field {
    height: 1.6em;
    margin-bottom: 1em;
  }

  .editor {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: none;

    &:focus { outline: 0px solid transparent; }
  }
}
