.detail {
  .header {
    width: 100%;
    float: left;
    padding: 0.25em;
    background: #F6F6F6;

    .title {
      float: left;
      font-size: 140%;
      margin-left: 0.5em;
      text-transform: capitalize;
    }
  }
}