.detail {
  .header {
    width: 100%;
    position: fixed;
    top: 0em;
    padding: 0.25em;
    background: #F6F6F6;
    margin-left: 0.25em;

    .title {
      float: left;
      font-size: 140%;
      margin-left: 0.5em;
      text-transform: capitalize;
    }
  }
}