.thread-info {
  float: left;
  width: 100%;
  padding: 0.6em;
  color: #666;

  .subject {
    font-size: 1.1em;
    width: 100%;
    clear: both;

    span {
      background: #FFFFE5;
      padding: 0.2em;
    }
  }

  .people-info {
    margin-top: 0.5em;
    color: #999;
  }
}

.mails {
  width: 100%;
  float: left;
  padding: 0.5em;


  .controls {
    width: 100%;
    float: left;
    padding: 1em 0.5em 0.5em 0.5em;
    border-top: 0.1em solid #999;

    .wrapper {
      float: left;
      width: 100%;
      border: 0.1em solid #CCC;
      padding: 0.5em;
    }

    a {
      margin-right: 1em;
      color: #999;
    }
  }
}


.mail {
  float: left;
  background: #FFF;
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 0.25em;

  .meta {
    width: 100%;
    float: left;
    background: #f9f9f9;
    padding: 0.5em;
    border-top: 0.1em solid #DDD;

    .sender {
      float: left;
      font-weight: bold;
      font-size: 1.05em;
    }

    .timestamp {
      float: right;
      color: #06C;
    }

    .recipients {
      width: 100%;
      float: left;
      color: #999;
    }
  }

  .body {
    width: 100%;
    float: left;
    padding: 0.5em 1em 0.5em 1em;
  }

  .body {
    width: 100%;
  }

}

