.thread-info {
  float: left;
//  background: #FFF;
  width: 100%;
//  background: #8B8BB1;
//  border: 1px solid #8B8BB1;
//  color: #fff;
  padding: 1em;
  color: #666;

  .subject {
    font-size: 1.3em;
    font-family: serif;
    width: 100%;
    clear: both;
  }

  .people-info {
    margin-top: 0.5em;
    color: #999;
  }
}

.mails {
  width: 100%;
  float: left;
  padding: 0em 1em 0.5em 1em;
  padding-top: 1em;
}

.mail {
  float: left;
  background: #FFF;
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 0em 0em 0.2em 0.1em #F1F1F1;
  border: 1px solid #ddd;
//  border-radius: 0.2em;

  .meta, .controls {
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 0.5em;
  }

  .controls {
    a {
      margin-right: 1em;
    }
  }

  .body {
    width: 100%;
    float: left;
    padding: 0.5em 1em 0.5em 1em;
  }

  .sender {
    float: left;
    font-weight: bold;
  }

  .timestamp {
    float: right;
  }
  
  .body {
    width: 100%;
  }
}
