@mixin search-query($width: 16em) {
  .search-query {
    width: $width;
    margin: 0.2em 1em 0.2em 1em;
    font-size: 0.75em;
  }
}


@mixin compose() {
  .compose {
    a {
      background: #538FDA;
      padding: 0.4em;
      color: #FFF;
      text-transform: uppercase;
      font-size: 0.9em;
      box-shadow: 0.1em 0.1em 0.1em 0.1em #FFF;
      margin-bottom: 0.5em;
    }
  }
}
