@import "bourbon";
@import "mixins";

* { @include box-sizing(border-box); }


html, body {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
}


body {
  margin: 0px auto;
  background: #F6F8F8;
  font-family: 'PT Sans', Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}


a {
  color: #597DCE;
}


.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  float: left;

  @include header();
  // @include menu-pane();
  @include content();
}


.show-sidebar {
  display: block !important;
}


.threads-wrapper {
  float: left;
  width: 30%;
  height: 100%;
  padding-top: 2.6em;
}


.threads {
  width: 100%;
  float: left;
  height: 100%;
  background: #FFF;
  box-shadow: 0.2em 0em 0em 0.1em #F1F1F1;
  border-right: 1px solid #ddd;
  overflow-y: scroll;

  .unread {
    background: #f1f1f1 !important;
  }

  .thread {
    float: left;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.2em;
    background: #FFF;
    border-bottom: 1px solid #CCC;

    &:hover {
      cursor: pointer;
      background: #FFFFE5 !important;
    }

    .controls {
      float: left;
      width: 2em;
      padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .sender {
      float: left;
      color: #333;
      padding: 0.5em 0.5em 0.2em 0.5em;
      width: 70%;
      font-weight: bold;
    }


    .preview {
      float: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      width: 100%;

      .subject {
        float: left;
        clear: left;
        margin-right: 1em;
        color: #777;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
      .summary {
        float: left;
        color: #999;
        width: 100%;
      }
    }

    .timestamp {
      float: right;
      padding: 0.5em;
      color: #06c;
    }
  }
}

.red-notification {
  background: #D04648;
  font-size: 0.6em;
  color: #FFF;
  padding: 0.15em 0.4em 0.15em 0.4em;
  margin-bottom: 0.5em;
  vertical-align: super;
}

.detail {
  float: left;
  width: 70%;
  padding: 2.6em 0em 0em 0.2em;
  overflow-y: scroll;
}

.thread-info {
  float: left;
//  background: #FFF;
  width: 100%;
//  background: #8B8BB1;
//  border: 1px solid #8B8BB1;
//  color: #fff;
  padding: 1em;
  color: #666;

  .subject {
    font-size: 1.3em;
    font-family: serif;
    width: 100%;
    clear: both;
  }

  .people-info {
    margin-top: 0.5em;
    color: #999;
  }
}

.mails {
  float: left;
  margin: 0em 1em 0.5em 1em;
  padding-top: 1em;
}

.mail {
  float: left;
  background: #FFF;
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 0em 0em 0.2em 0.2em #F1F1F1;
  border: 1px solid #ddd;
//  border-radius: 0.2em;

  .meta, .controls {
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 0.5em;
  }

  .controls {
    a {
      margin-right: 1em;
    }
  }

  .body {
    width: 100%;
    float: left;
    padding: 0.5em 1em 0.5em 1em;
  }

  .sender {
    float: left;
    font-weight: bold;
  }

  .timestamp {
    float: right;
  }
  
  .body {
    width: 100%;
  }
}

.page {
  background: #FFF;
  margin: 1em;
  padding: 1em;
  float: left;
}

.users {
  .user {
    width: 100%;
    float: left;
    border-left: 0.15em solid #E08587;
    padding: 0.5em;
    background: #fafafa;
    margin-top: 1em;
    margin-bottom: 1em;

    .name {
      font-weight: bold;
    }

    .controls {
      clear: left;
      margin-top: 0.5em;
      a {
        margin-right: 1em;
      }
    }
  }
}