.threads-wrapper {
  float: left;
  width: 30%;
  height: 100%;
  padding-top: 2.6em;
}


.threads {
  width: 100%;
  float: left;
  height: 100%;
  background: #FFF;
  box-shadow: 0.2em 0em 0em 0.1em #F1F1F1;
  border-right: 1px solid #ddd;
  overflow-y: scroll;

  .unread {
    background: #f1f1f1 !important;
  }

  .thread {
    float: left;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.2em;
    background: #FFF;
    border-bottom: 1px solid #CCC;

    &:hover {
      cursor: pointer;
      background: #FFFFE5 !important;
    }

    .controls {
      float: left;
      width: 2em;
      padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .sender {
      float: left;
      color: #333;
      padding: 0.5em 0.5em 0.2em 0.5em;
      width: 70%;
      font-weight: bold;
    }


    .preview {
      float: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      width: 100%;

      .subject {
        float: left;
        clear: left;
        margin-right: 1em;
        color: #777;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
      .summary {
        float: left;
        color: #999;
        width: 100%;
      }
    }

    .timestamp {
      float: right;
      padding: 0.5em;
      color: #06c;
    }
  }
}
