.threads-wrapper {
  float: left;
  width: 100%;
  height: 100%;
  margin-left: 0.23em;
}


.threads {
  width: 100%;
  float: left;
  height: 100%;
  background: #FFF;
  box-shadow: 0em 0em 0em 0.1em #F1F1F1;
  border-right: 1px solid #ddd;
  overflow-y: scroll;

  .unread {
    background: #fff !important;
    .sender { font-weight: bold; }
    .subject {
      font-weight: bold;
      color: #333 !important;
    }
  }

  .thread {
    float: left;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.2em;
    background: #FCFCFC;
    border-bottom: 0.1em solid #DDD;

    &:hover {
      cursor: pointer;
      background: #FFFFE5 !important;
    }

    .controls {
      float: left;
      width: 2em;
      padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .sender {
      float: left;
      color: #333;
      padding: 0.2em 0.5em 0.2em 0.5em;
      width: 15%;
    }


    .preview {
      float: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      width: 60%;

      .subject {
        float: left;
        margin-right: 1em;
        color: #444;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
      }

      .summary {
        float: left;
        color: #999;
      }
    }

    .timestamp {
      float: right;
      padding: 0.2em;
      color: #06c;
    }
  }
}
