<div class="page">
  <form class="user-form" ng-submit="saveUser()">

    <div class="field">
      <label>First name</label><br/>
      <input type="text" ng-model="user.first_name"/>
    </div>

    <div class="field">
      <label>Last name</label><br/>
      <input type="text" ng-model="user.last_name"/>
    </div>

    <div class="field">
      <label>Username</label><br/>
      <input type="text" ng-model="user.username"/>
    </div>

    <div class="field">
      <label>Password</label><br/>
      <input type="password" ng-model="user.password"/>
    </div>

    <div class="field">
      <label>Role</label><br/>
      <select ng-required="true"
      ng-model="user.role" ng-options="role for role in validRoles track by role"></select>
    </div>

    <div class="actions">
      <input class="save" type="button" ng-click="saveUser()" value="Save">
      or
      <a href="/users">cancel</a>
    </div>

  </form>
</div>
