.navbar-custom {
  background: #FFF;
}

.mail-list {
  background: #fff;
  border: 0.1em solid #DDD;
  margin: 1em 0em;
}

.mail-list .mail:last-child {

}

.mail-list .mail {
  padding: 0.75em 0.1em;
  border-bottom: 0.1em solid #DDD;
}

.mail-list .mail:first-child {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.mail-list .mail:last-child {
  border-bottom: none !important;
  border-bottom-left-radius: 0.3em
  border-bottom-right-radius: 0.3em
}

.mail-list .mail .conversation-info {

}

.mail-list .mail .conversation-info .count {

}

.mail-list .unread .conversation-info .sender {
  font-weight: bold;
  color: #06c;
}

.mail-list .unread .conversation-info .person {
  color: #06c;
}

.mail-list .unread .conversation-info .count {
  font-weight: bold;
  color: #06c;
}

.mail-list .unread .time {
  font-weight: bold;
  color: #06c;
}


.mail-list .unread .overview .subject {
  font-weight: bold;
  color: #06c;
}

.mail-list .mail .conversation-info {

}

.mail-list .mail .conversation-info .people .person {

}


.mail-list .mail .overview .snip {
  color: #AAA;
}

.mail-list .mail:hover {
  background: #FFFEFB;
  cursor: pointer;
}

.mail-list .mail .time {
  font-size: 0.9em;
  text-align: right;
}

.navbar-brand {
  color: #DA1F2A !important;
}


.mail-sections {
  float: left;
}

.mail-sections a{
  color: #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

.red-badge {
  background: #EC5C5C;
  color: #FFF;
  vertical-align: middle;
}

.blue-badge {
  background: #06C;
  color: #FFF;
  vertical-align: middle;
}

.logout-btn {
  color: #DA1F2A !important;
}
