body {
  background: #FCFCFC;
  font-family: PT Sans;
}

.navbar-brand {
  color: #FFF;
}

.navbar-custom {
  background: #393939;
  border: none;
  border-radius: 0em;
}

.navbar-custom span {
  color: #f1f1f1;
}

.section-title {
  color: #DA1F2A;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.mail-list {
}

.mail-list .mail {
  padding: 0.75em 0.1em;
  border-bottom: 0.1em solid #DDD;
  color: #646464;
  font-size: 1.1em;
}

.mail-list .unread {
  font-weight: bold;
}

.mail-list .unread {
  font-weight: bold;
}

.mail-list .mail:first-child {
}

.mail-list .mail:last-child {
}

.mail-list .mail:last-child {
  border-bottom: none !important;
}

.mail-list .mail .time {
  color: #9C9C9C;
}

.mail-list .unread .time {
  font-weight: normal;
}

.mail-list .mail .overview .snip {
  color: #AAA;
  font-weight: normal;
}

.mail-list .mail:hover {
  background: #FFFEFB;
  cursor: pointer;
}

.mail-list .mail .time {
  font-size: 0.9em;
  text-align: right;
}


.mail-sections {
  float: left;
}

.mail-sections a{
  color: #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

.red-badge {
  background: #EC5C5C;
  color: #FFF;
  vertical-align: middle;
}

.blue-badge {
  background: #06C;
  color: #FFF;
  vertical-align: middle;
}

.logout-btn {
  color: #DA1F2A !important;
}
